<p>Estimado {{ email }},</p>
<p>Bienvenido a <b>Siraso</b>!</p>
<p>Dados los datos ingresados el resultado es: {{resultado}}</p>

<p>Coridialmente,</p>
<p>Sistema Siraso</p>
<p><small>Nota:Por favor, no contestar a este correo cuenta no monitorizada</small></p>