{% extends 'base.html' %}

{% block header %}
    <h1>
        {% block title %}Bienvenidos{% endblock %}
    </h1>
{% endblock %}

{% block content %}

    <h2>Por favor responda las siguientes Preguntas</h2>
    <div class="container-fluid">
        <form name='datos' id='datos' method='POST' action='registro'>
            <div class="row">
                <div class='col-6'>
                        <div class="form-group">
                            <select required name='departamento' id='departamento' class="form-control">
                                <option selected="selected" value="">1) Seleccione su Departamento </option>
                                <option value='91'>AMAZONAS</option>
                                <option value='5'>ANTIOQUIA</option>
                                <option value='81'>ARAUCA</option>
                                <option value='88'>ARCHIPIELAGO DE SAN ANDRES</option>
                                <option value='8'>ATLANTICO</option>
                                <option value='11'>BOGOTA D.C.</option>
                                <option value='13'>BOLIVAR</option>
                                <option value='15'>BOYACA</option>
                                <option value='17'>CALDAS</option>
                                <option value='18'>CAQUETA</option>
                                <option value='85'>CASANARE</option>
                                <option value='19'>CAUCA</option>
                                <option value='20'>CESAR</option>
                                <option value='27'>CHOCO</option>
                                <option value='23'>CORDOBA</option>
                                <option value='25'>CUNDINAMARCA</option>
                                <option value='94'>GUAINIA</option>
                                <option value='95'>GUAVIARE</option>
                                <option value='41'>HUILA</option>
                                <option value='44'>LA GUAJIRA</option>
                                <option value='47'>MAGDALENA</option>
                                <option value='50'>META</option>
                                <option value='52'>NARIÑO</option>
                                <option value='54'>NORTE DE SANTANDER</option>
                                <option value='86'>PUTUMAYO</option>
                                <option value='63'>QUINDIO</option>
                                <option value='66'>RISARALDA</option>
                                <option value='68'>SANTANDER</option>
                                <option value='70'>SUCRE</option>
                                <option value='73'>TOLIMA</option>
                                <option value='76'>VALLE DEL CAUCA</option>
                                <option value='97'>VAUPES</option>
                                <option value='99'>VICHADA</option>
                            </select>
                    </div>
                    
                </div>
                <div class='col-6'>
                    <div class="form-group">
                        <input
                            id='numHijos'
                            name='numHijos'
                            type="number"
                            min=0
                            placeholder="7) ¿Cuantos hijos tiene?"
                            required="required"
                            class="form-control"
                            />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-6'>

                    <div class='form-group'>
                        <select required id='municipio' name='municipio' required="required" class="form-control">
                            <option value='' selected>2) Seleccione su Municipio</option>
                            <option value='2786'>Belén de Bajira</option>
                            <option value='19513'>Padilla</option>
                            <option value='131'>Cartagena</option>
                            <option value='5837'>Turbo</option>
                            <option value='4757'>Pueblo Viejo</option>
                            <option value='449'>Dibula</option>
                            <option value='23675'>San Bernardo del Viento</option>
                            <option value='5225'>El Charco</option>
                            <option value='47551'>Pivijay</option>
                            <option value='4456'>Manaure</option>
                            <option value='441'>Riohacha</option>
                            <option value='1378'>Talaigua Nuevo</option>
                            <option value='52835'>San Andrés de Tumaco</option>
                            <option value='7082'>Santiago de Tolú</option>
                            <option value='19809'>Tilgiquí</option>
                            <option value='70221'>Coveñas</option>
                            <option value='19318'>Guapi</option>
                            <option value='8573'>Puerto Cololgia</option>
                            <option value='8758'>Soledad</option>
                            <option value='23672'>San Antero</option>
                            <option value='23815'>Tuchín</option>
                            <option value='94884'>Puerto Cololgia</option>
                            <option value='276'>Acandí</option>
                            <option value='276'>Río Quito</option>
                            <option value='27495'>Nuquí</option>
                            <option value='47745'>Sitionuevo</option>
                            <option value='2743'>Medio Baudó</option>
                            <option value='235'>Moñitos</option>
                            <option value='47675'>Salamina</option>
                            <option value='47258'>El Piñon</option>
                            <option value='8137'>Campo de La Cruz</option>
                            <option value='23168'>Chimá</option>
                            <option value='23417'>Lorica</option>
                            <option value='47605'>Remolino</option>
                            <option value='76109'>Buenaventura</option>
                            <option value='275'>Atrato</option>
                            <option value='8141'>Candelaria</option>
                            <option value='8675'>Santa Lucía</option>
                            <option value='8685'>Santo Tomás</option>
                            <option value='877'>Suan</option>
                            <option value='549'>Necoclí</option>
                            <option value='2773'>Bagadó</option>
                            <option value='23686'>San Pelayo</option>
                            <option value='2775'>Bahía Solano</option>
                            <option value='8606'>Repelón</option>
                            <option value='8634'>Sabanagrande</option>
                            <option value='2777'>Bajo Baudó</option>
                            <option value='8433'>Malalgo</option>
                            <option value='8436'>Manatí</option>
                            <option value='852'>Palmar de Varela</option>
                            <option value='856'>Ponedera</option>
                            <option value='1314'>Calamar</option>
                            <option value='13433'>Mahates</option>
                            <option value='1376'>Soplaviento</option>
                            <option value='5659'>San Juan de Urabá</option>
                            <option value='52696'>Santa Bárbara</option>
                            <option value='47288'>Fundación</option>
                            <option value='47161'>Cerro San Antonio</option>
                            <option value='231'>Montería</option>
                            <option value='47541'>Pedraza</option>
                            <option value='2799'>Bojaya</option>
                            <option value='47205'>Concordia</option>
                            <option value='23189'>Ciénaga de Oro</option>
                            <option value='27135'>El Cantón del San Pablo</option>
                            <option value='2715'>Carmen del Darien</option>
                            <option value='13442'>María la Baja</option>
                            <option value='73283'>Fresno</option>
                            <option value='23162'>Cereté</option>
                            <option value='2716'>Cértegui</option>
                            <option value='13468'>Mompós</option>
                            <option value='27205'>Condoto</option>
                            <option value='27245'>El Carmen de Atrato</option>
                            <option value='23464'>Momil</option>
                            <option value='27361'>Istmina</option>
                            <option value='70771'>Sucre</option>
                            <option value='471'>Santa Marta</option>
                            <option value='27615'>Riosucio</option>
                            <option value='27372'>Juradó</option>
                            <option value='1343'>Magangué</option>
                            <option value='13212'>Córdoba</option>
                            <option value='5249'>Olaya Herrera</option>
                            <option value='13188'>Cicuco</option>
                            <option value='13683'>Santa Rosa</option>
                            <option value='13894'>Zalgrano</option>
                            <option value='2368'>Ayapel</option>
                            <option value='23586'>Purísima</option>
                            <option value='4796'>Zapayán</option>
                            <option value='52473'>Mosquera</option>
                            <option value='47798'>Tenerife</option>
                            <option value='4746'>Nueva Granada</option>
                            <option value='47555'>Plato</option>
                            <option value='5239'>La Tola</option>
                            <option value='133'>Altos del Rosario</option>
                            <option value='133'>Hatillo de Loba</option>
                            <option value='278'>Unguía</option>
                            <option value='2745'>Medio San Juan</option>
                            <option value='4772'>Santa Bárbara de Pinto</option>
                            <option value='5475'>Murindó</option>
                            <option value='1381'>Tiquisio</option>
                            <option value='81'>Barranquilla</option>
                            <option value='52621'>Roberto Payán</option>
                            <option value='47189'>Ciénaga</option>
                            <option value='47245'>El Banco</option>
                            <option value='136'>Achí</option>
                            <option value='1374'>Barranco de Loba</option>
                            <option value='13473'>Morales</option>
                            <option value='136'>Río Viejo</option>
                            <option value='23678'>San Carlos</option>
                            <option value='47545'>Pijiño del Carmen</option>
                            <option value='47692'>San Sebastián de Buenavista</option>
                            <option value='47703'>San Zenón</option>
                            <option value='47707'>Santa Ana</option>
                            <option value='70429'>Majagual</option>
                            <option value='70678'>San Benito Abad</option>
                            <option value='70708'>San Marcos</option>
                            <option value='5873'>Vigía del Fuerte</option>
                            <option value='1365'>San Fernando</option>
                            <option value='70124'>Caimito</option>
                            <option value='13549'>Pinillos</option>
                            <option value='1344'>Margarita</option>
                            <option value='47318'>Guamal</option>
                            <option value='5147'>Carepa</option>
                            <option value='1362'>Arroyohondo</option>
                            <option value='13268'>El Peñón</option>
                            <option value='1362'>San Cristóbal</option>
                            <option value='13667'>San Martín de Loba</option>
                            <option value='23574'>Puerto Escondido</option>
                            <option value='70713'>San Onofre</option>
                            <option value='5495'>Nechí</option>
                            <option value='5893'>Yondó</option>
                            <option value='4798'>Zona Bananera</option>
                            <option value='8421'>Luruaco</option>
                            <option value='545'>Apartadó</option>
                            <option value='13673'>Santa Catalina</option>
                            <option value='5172'>Chigorodó</option>
                            <option value='5279'>Barbacoas</option>
                            <option value='2025'>El Paso</option>
                            <option value='1358'>Regidor</option>
                            <option value='1342'>Arenal</option>
                            <option value='47268'>El Retén</option>
                            <option value='23419'>Los Córdobas</option>
                            <option value='70523'>Palmito</option>
                            <option value='4478'>Barrancas</option>
                            <option value='4753'>Aracataca</option>
                            <option value='271'>Quibdó</option>
                            <option value='23466'>Montelíbano</option>
                            <option value='13458'>Montecristo</option>
                            <option value='23855'>Valencia</option>
                            <option value='233'>Cotorra</option>
                            <option value='239'>Canalete</option>
                            <option value='44378'>Hatonuevo</option>
                            <option value='8372'>Juan de Acosta</option>
                            <option value='13744'>Simití</option>
                            <option value='20178'>Chiriguaná</option>
                            <option value='20295'>Gamarra</option>
                            <option value='20383'>La Gloria</option>
                            <option value='2071'>San Alberto</option>
                            <option value='20787'>Tamalameque</option>
                            <option value='2335'>La Apartada</option>
                            <option value='551'>Arboletes</option>
                            <option value='5154'>Caucasia</option>
                            <option value='27745'>Sipí</option>
                            <option value='2725'>Alto Baudo</option>
                            <option value='2725'>El Litoral del San Juan</option>
                            <option value='23807'>Tierralta</option>
                            <option value='991'>Puerto Carreño</option>
                            <option value='5895'>Zaragoza</option>
                            <option value='4443'>Maicao</option>
                            <option value='91798'>Tarapacá</option>
                            <option value='27425'>Medio Atrato</option>
                            <option value='1316'>Cantagallo</option>
                            <option value='70823'>Tolú Viejo</option>
                            <option value='44279'>Fonseca</option>
                            <option value='20228'>Curumaní</option>
                            <option value='1352'>Arjona</option>
                            <option value='13222'>Clemencia</option>
                            <option value='704'>La Unión</option>
                            <option value='5252'>Francisco Pizarro</option>
                            <option value='4498'>Distracción</option>
                            <option value='2358'>Puerto Libertador</option>
                            <option value='2055'>Pelaya</option>
                            <option value='27413'>Lloró</option>
                            <option value='94883'>San Felipe</option>
                            <option value='2366'>Sahagún</option>
                            <option value='44847'>Uribia</option>
                            <option value='1367'>San Pablo de Borbur</option>
                            <option value='4766'>Sabanas de San Angel</option>
                            <option value='2379'>Buenavista</option>
                            <option value='5481'>Tibú</option>
                            <option value='4435'>Albania</option>
                            <option value='68575'>Puerto Wilches</option>
                            <option value='6881'>Barrancabermeja</option>
                            <option value='20517'>Pailitas</option>
                            <option value='13248'>El Guamo</option>
                            <option value='8558'>Polonuevo</option>
                            <option value='70235'>Galeras</option>
                            <option value='9146'>Miriti Paraná</option>
                            <option value='8296'>Galapa</option>
                            <option value='23682'>San José de Uré</option>
                            <option value='2032'>Astrea</option>
                            <option value='881'>San Andrés</option>
                            <option value='7011'>Buenavista</option>
                            <option value='23555'>Planeta Rica</option>
                            <option value='27787'>Tadó</option>
                            <option value='8849'>Usiacurí</option>
                            <option value='94885'>La Guadalupe</option>
                            <option value='911'>Leticia</option>
                            <option value='91536'>Puerto Arica</option>
                            <option value='97889'>Yavaraté</option>
                            <option value='941'>Inírida</option>
                            <option value='664'>La Virginia</option>
                            <option value='8638'>Sabanalarga</option>
                            <option value='473'>Algarrobo</option>
                            <option value='99524'>La Primavera</option>
                            <option value='2367'>San Andrés Sotavento</option>
                            <option value='68573'>Puerto Parra</option>
                            <option value='13873'>Villanueva</option>
                            <option value='878'>Baranoa</option>
                            <option value='13836'>Turbaco</option>
                            <option value='70265'>Guaranda</option>
                            <option value='54553'>Puerto Santander</option>
                            <option value='5647'>San Andrés de Cuerquía</option>
                            <option value='8122'>Cravo Norte</option>
                            <option value='94343'>Barranco Minas</option>
                            <option value='97666'>Taraira</option>
                            <option value='19418'>López</option>
                            <option value='27491'>Nóvita</option>
                            <option value='2758'>Río Iro</option>
                            <option value='23182'>Chinú</option>
                            <option value='2357'>Pueblo Nuevo</option>
                            <option value='19533'>Piamonte</option>
                            <option value='68655'>Sabana de Torres</option>
                            <option value='2077'>San Martín</option>
                            <option value='99773'>Cumaribo</option>
                            <option value='68679'>San Gil</option>
                            <option value='206'>Bosconia</option>
                            <option value='2781'>Unión Panamericana</option>
                            <option value='91407'>La Pedrera</option>
                            <option value='13838'>Turbaná</option>
                            <option value='20175'>Chimichagua</option>
                            <option value='70717'>San Pedro</option>
                            <option value='9154'>Puerto Nariño</option>
                            <option value='811'>Arauca</option>
                            <option value='5579'>Puerto Berrío</option>
                            <option value='81591'>Puerto Rondón</option>
                            <option value='4717'>Chivolo</option>
                            <option value='2013'>Agustín Codazzi</option>
                            <option value='70233'>El Roble</option>
                            <option value='70702'>San Juan de Betulia</option>
                            <option value='70742'>San Luis de Sincé</option>
                            <option value='5585'>Puerto Nare</option>
                            <option value='9143'>La Victoria</option>
                            <option value='1349'>Norosí</option>
                            <option value='70215'>Corozal</option>
                            <option value='8523'>Orocué</option>
                            <option value='9153'>Puerto Alegría</option>
                            <option value='15572'>Puerto Boyacá</option>
                            <option value='97511'>Pacoa</option>
                            <option value='201'>Valledupar</option>
                            <option value='50568'>Puerto Gaitán</option>
                            <option value='204'>La Jagua de Ibirico</option>
                            <option value='2045'>Becerril</option>
                            <option value='512'>Cáceres</option>
                            <option value='525'>El Bagre</option>
                            <option value='5591'>Puerto Triunfo</option>
                            <option value='94886'>Cacahual</option>
                            <option value='99624'>Santa Rosalía</option>
                            <option value='70204'>Coloso</option>
                            <option value='13657'>San Juan Nepomuceno</option>
                            <option value='13244'>El Carmen de Bolívar</option>
                            <option value='20621'>La Paz</option>
                            <option value='7067'>Sampués</option>
                            <option value='70473'>Morroa</option>
                            <option value='13647'>San Estanislao</option>
                            <option value='952'>Miraflores</option>
                            <option value='2011'>Aguachica</option>
                            <option value='8165'>Arauquita</option>
                            <option value='4758'>Ariguaní</option>
                            <option value='951'>San José del Guaviare</option>
                            <option value='70418'>Los Palmitos</option>
                            <option value='1738'>La Dorada</option>
                            <option value='25572'>Puerto Salgar</option>
                            <option value='50573'>Puerto López</option>
                            <option value='2075'>San Diego</option>
                            <option value='20238'>El Copey</option>
                            <option value='66318'>Guática</option>
                            <option value='8543'>Trinidad</option>
                            <option value='9525'>El Retorno</option>
                            <option value='701'>Sincelejo</option>
                            <option value='94888'>Morichal</option>
                            <option value='6819'>Cimitarra</option>
                            <option value='85325'>San Luis de Gaceno</option>
                            <option value='50325'>Mapiripán</option>
                            <option value='86573'>Leguízamo</option>
                            <option value='97161'>Caruru</option>
                            <option value='5045'>Puerto Concordia</option>
                            <option value='971'>Mitú</option>
                            <option value='85139'>Maní</option>
                            <option value='52254'>El Peñol</option>
                            <option value='18756'>Solano</option>
                            <option value='94663'>Mapiripana</option>
                            <option value='8832'>Tubará</option>
                            <option value='97777'>Papunaua</option>
                            <option value='94887'>Pana Pana</option>
                            <option value='5059'>Puerto Rico</option>
                            <option value='1846'>Milán</option>
                            <option value='86571'>Puerto Guzmán</option>
                            <option value='9515'>Calamar</option>
                            <option value='54261'>El Zulia</option>
                            <option value='68432'>Málaga</option>
                            <option value='18205'>Curillo</option>
                            <option value='91669'>Puerto Santander</option>
                            <option value='2586'>Beltrán</option>
                            <option value='68255'>El Playón</option>
                            <option value='5035'>La Macarena</option>
                            <option value='54673'>San Cayetano</option>
                            <option value='50124'>Cabuyaro</option>
                            <option value='13654'>San Jacinto</option>
                            <option value='13655'>San Jacinto del Cauca</option>
                            <option value='548'>Teorama</option>
                            <option value='548'>Mutatá</option>
                            <option value='4411'>El Molino</option>
                            <option value='733'>Algalema</option>
                            <option value='1841'>La Montañita</option>
                            <option value='5665'>San Pedro de Uraba</option>
                            <option value='18592'>Puerto Rico</option>
                            <option value='85125'>Hato Corozal</option>
                            <option value='54418'>Lourdes</option>
                            <option value='86568'>Puerto Asís</option>
                            <option value='4465'>San Juan del Cesar</option>
                            <option value='44874'>Villanueva</option>
                            <option value='50577'>Puerto Lleras</option>
                            <option value='85263'>Pore</option>
                            <option value='25324'>Guataquí</option>
                            <option value='73349'>Honda</option>
                            <option value='18479'>Morelia</option>
                            <option value='25483'>Nariño</option>
                            <option value='5011'>Barranca de Upía</option>
                            <option value='70508'>Ovejas</option>
                            <option value='8525'>Paz de Ariporo</option>
                            <option value='25307'>Girardot</option>
                            <option value='18753'>San Vicente del Caguán</option>
                            <option value='44855'>Urumita</option>
                            <option value='7023'>Chalán</option>
                            <option value='25612'>Ricaurte</option>
                            <option value='73275'>Flandes</option>
                            <option value='7377'>Suárez</option>
                            <option value='851'>Aguazul</option>
                            <option value='851'>Yopal</option>
                            <option value='1978'>Suárez</option>
                            <option value='86569'>Puerto Caicedo</option>
                            <option value='86757'>San Miguel</option>
                            <option value='73461'>Murillo</option>
                            <option value='541'>Cúcuta</option>
                            <option value='813'>Fortul</option>
                            <option value='1815'>Cartagena del Chairá</option>
                            <option value='4442'>La Jagua del Pilar</option>
                            <option value='5472'>Sardinata</option>
                            <option value='7355'>Armero</option>
                            <option value='8632'>Orito</option>
                            <option value='73671'>Saldaña</option>
                            <option value='1894'>Belén de Los Andaquies</option>
                            <option value='8549'>Piojó</option>
                            <option value='86865'>Valle de Guamez</option>
                            <option value='73563'>Prado</option>
                            <option value='73319'>Guamo</option>
                            <option value='73268'>Espinal</option>
                            <option value='73449'>Melgar</option>
                            <option value='73483'>Natagaima</option>
                            <option value='73148'>Carmen de Apicala</option>
                            <option value='73585'>Purificación</option>
                            <option value='25488'>Nilo</option>
                            <option value='732'>Coello</option>
                            <option value='81794'>Tame</option>
                            <option value='18256'>El Paujil</option>
                            <option value='73861'>Venadillo</option>
                            <option value='5015'>Castilla la Nueva</option>
                            <option value='5068'>San Carlos de Guaroa</option>
                            <option value='18785'>Solita</option>
                            <option value='8544'>Villanueva</option>
                            <option value='1886'>Valparaíso</option>
                            <option value='25368'>Jerusalén</option>
                            <option value='15223'>Cubará</option>
                            <option value='50287'>Fuente de Oro</option>
                            <option value='88564'>Providencia</option>
                            <option value='73408'>Lérida</option>
                            <option value='91405'>La Chorrera</option>
                            <option value='18247'>El Doncello</option>
                            <option value='85225'>Nunchía</option>
                            <option value='41872'>Villavieja</option>
                            <option value='4116'>Aipe</option>
                            <option value='73217'>Coyaima</option>
                            <option value='15667'>San Luis de Gaceno</option>
                            <option value='86885'>Villagarzón</option>
                            <option value='25815'>Tocaima</option>
                            <option value='50245'>El Calvario</option>
                            <option value='251'>Agua de Dios</option>
                            <option value='73504'>Ortega</option>
                            <option value='73547'>Piedras</option>
                            <option value='54405'>Los Patios</option>
                            <option value='50313'>Granada</option>
                            <option value='5468'>Santiago</option>
                            <option value='50689'>San Martín</option>
                            <option value='25599'>Apulo</option>
                            <option value='6837'>Jordán</option>
                            <option value='5501'>Olaya</option>
                            <option value='7326'>Alvarado</option>
                            <option value='54874'>Villa del Rosario</option>
                            <option value='411'>Neiva</option>
                            <option value='7367'>Ataco</option>
                            <option value='853'>Sabanalarga</option>
                            <option value='501'>Villavicencio</option>
                            <option value='8541'>Tauramena</option>
                            <option value='5234'>Dabeiba</option>
                            <option value='50711'>Vista Hermosa</option>
                            <option value='50226'>Cumaral</option>
                            <option value='73226'>Cunday</option>
                            <option value='1829'>Albania</option>
                            <option value='50251'>El Castillo</option>
                            <option value='91263'>El Encanto</option>
                            <option value='73443'>Mariquita</option>
                            <option value='25851'>Útica</option>
                            <option value='506'>Acacias</option>
                            <option value='85162'>Monterrey</option>
                            <option value='68235'>El Carmen de Chucurí</option>
                            <option value='73678'>San Luis</option>
                            <option value='50683'>San Juan de Arama</option>
                            <option value='50318'>Guamal</option>
                            <option value='41132'>Campoalegre</option>
                            <option value='50223'>Cubarral</option>
                            <option value='1861'>San José del Fragua</option>
                            <option value='41524'>Palermo</option>
                            <option value='861'>Mocoa</option>
                            <option value='542'>Santafé de Antioquia</option>
                            <option value='5027'>El Dorado</option>
                            <option value='41885'>Yaguará</option>
                            <option value='25878'>Viotá</option>
                            <option value='50606'>Restrepo</option>
                            <option value='41799'>Tello</option>
                            <option value='25438'>Medina</option>
                            <option value='68615'>Rionegro</option>
                            <option value='41349'>Hobo</option>
                            <option value='73854'>Valle de San Juan</option>
                            <option value='13688'>Santa Rosa del Sur</option>
                            <option value='544'>Anza</option>
                            <option value='544'>Marinilla</option>
                            <option value='5736'>Segovia</option>
                            <option value='5142'>Caracolí</option>
                            <option value='5037'>Uribe</option>
                            <option value='6816'>Cepitá</option>
                            <option value='539'>La Pintada</option>
                            <option value='15681'>San Pablo de Borbur</option>
                            <option value='5604'>Remedios</option>
                            <option value='68689'>San Vicente de Chucurí</option>
                            <option value='2535'>Anapoima</option>
                            <option value='68307'>Girón</option>
                            <option value='5761'>Sopetrán</option>
                            <option value='41615'>Rivera</option>
                            <option value='4178'>Baraya</option>
                            <option value='41797'>Tesalia</option>
                            <option value='5656'>San Jerónimo</option>
                            <option value='17867'>Victoria</option>
                            <option value='54245'>El Carmen</option>
                            <option value='20443'>Manaure</option>
                            <option value='15518'>Pajarito</option>
                            <option value='25875'>Villeta</option>
                            <option value='68271'>Florián</option>
                            <option value='85279'>Recetor</option>
                            <option value='41306'>Gigante</option>
                            <option value='5466'>Salazar</option>
                            <option value='5411'>Liborina</option>
                            <option value='41791'>Tarqui</option>
                            <option value='5033'>Mesetas</option>
                            <option value='76233'>Dagua</option>
                            <option value='41298'>Garzón</option>
                            <option value='4113'>Agrado</option>
                            <option value='504'>Lejanías</option>
                            <option value='1548'>Muzo</option>
                            <option value='41206'>Cololgia</option>
                            <option value='73168'>Chaparral</option>
                            <option value='73873'>Villarrica</option>
                            <option value='41518'>Paicol</option>
                            <option value='193'>Guachené</option>
                            <option value='5858'>Vegachí</option>
                            <option value='68522'>Palmar</option>
                            <option value='68276'>Floridablanca</option>
                            <option value='6645'>Apía</option>
                            <option value='73616'>Rio Blanco</option>
                            <option value='1569'>Santa María</option>
                            <option value='73624'>Rovira</option>
                            <option value='76318'>Guacarí</option>
                            <option value='41801'>Teruel</option>
                            <option value='19532'>Patía</option>
                            <option value='76403'>La Victoria</option>
                            <option value='76895'>Zarzal</option>
                            <option value='76147'>Cartago</option>
                            <option value='41548'>Pital</option>
                            <option value='68296'>Galán</option>
                            <option value='41319'>Guadalupe</option>
                            <option value='76497'>Obando</option>
                            <option value='5451'>Arboledas</option>
                            <option value='76823'>Toro</option>
                            <option value='15212'>Coper</option>
                            <option value='76113'>Bugalagrande</option>
                            <option value='681'>Bucaramanga</option>
                            <option value='5425'>El Tarra</option>
                            <option value='54239'>Durania</option>
                            <option value='5425'>Maceo</option>
                            <option value='25518'>Paime</option>
                            <option value='76622'>Roldanillo</option>
                            <option value='19573'>Puerto Tejada</option>
                            <option value='76111'>Guadalajara de Buga</option>
                            <option value='76616'>Riofrío</option>
                            <option value='7689'>Yotoco</option>
                            <option value='76364'>Jamundí</option>
                            <option value='764'>La Unión</option>
                            <option value='7613'>Candelaria</option>
                            <option value='761'>Bolívar</option>
                            <option value='761'>Cali</option>
                            <option value='7667'>San Pedro</option>
                            <option value='15533'>Paya</option>
                            <option value='68121'>Cabrera</option>
                            <option value='7327'>Falan</option>
                            <option value='76248'>El Cerrito</option>
                            <option value='76869'>Vijes</option>
                            <option value='25245'>El Colegio</option>
                            <option value='2532'>Guaduas</option>
                            <option value='7636'>Andalucía</option>
                            <option value='76892'>Yulgo</option>
                            <option value='17877'>Viterbo</option>
                            <option value='5353'>Hispania</option>
                            <option value='5667'>San Rafael</option>
                            <option value='4177'>Suaza</option>
                            <option value='5254'>Policarpa</option>
                            <option value='7652'>Palmira</option>
                            <option value='68547'>Piedecuesta</option>
                            <option value='5649'>San Carlos</option>
                            <option value='54206'>Convención</option>
                            <option value='25524'>Pandi</option>
                            <option value='54313'>Gramalote</option>
                            <option value='19455'>Miranda</option>
                            <option value='73352'>Icononzo</option>
                            <option value='7641'>Ansermanuevo</option>
                            <option value='519'>Cisneros</option>
                            <option value='76275'>Florida</option>
                            <option value='15507'>Otanche</option>
                            <option value='54344'>Hacarí</option>
                            <option value='41396'>La Plata</option>
                            <option value='566'>San Luis</option>
                            <option value='5499'>Bochalema</option>
                            <option value='19212'>Corinto</option>
                            <option value='68406'>Lebríja</option>
                            <option value='6872'>Santa Helena del Opón</option>
                            <option value='76563'>Pradera</option>
                            <option value='19698'>Santander de Quilichao</option>
                            <option value='76834'>Tuluá</option>
                            <option value='1911'>Buenos Aires</option>
                            <option value='4126'>Altamira</option>
                            <option value='68745'>Simacota</option>
                            <option value='19142'>Caloto</option>
                            <option value='15189'>Ciénega</option>
                            <option value='68147'>Capitanejo</option>
                            <option value='2766'>San José del Palmar</option>
                            <option value='15377'>Labranzagrande</option>
                            <option value='19845'>Villa Rica</option>
                            <option value='76122'>Caicedonia</option>
                            <option value='8515'>Chámeza</option>
                            <option value='41807'>Timaná</option>
                            <option value='76306'>Ginebra</option>
                            <option value='81736'>Saravena</option>
                            <option value='412'>Algeciras</option>
                            <option value='68385'>Landázuri</option>
                            <option value='5854'>Valdivia</option>
                            <option value='25592'>Quebradanegra</option>
                            <option value='25491'>Nocaima</option>
                            <option value='15531'>Pauna</option>
                            <option value='41357'>Iquira</option>
                            <option value='524'>Ebéjico</option>
                            <option value='54109'>Bucarasica</option>
                            <option value='68549'>Pinchote</option>
                            <option value='17495'>Norcasia</option>
                            <option value='25596'>Quipile</option>
                            <option value='20614'>Río de Oro</option>
                            <option value='854'>Támara</option>
                            <option value='1945'>Mercaderes</option>
                            <option value='731'>Ibagué</option>
                            <option value='68524'>Palmas del Socorro</option>
                            <option value='54172'>Chinácota</option>
                            <option value='68176'>Chimá</option>
                            <option value='52612'>Ricaurte</option>
                            <option value='17777'>Supía</option>
                            <option value='25489'>Nimaima</option>
                            <option value='63401'>La Tebaida</option>
                            <option value='25718'>Sasaima</option>
                            <option value='25386'>La Mesa</option>
                            <option value='5107'>Briceño</option>
                            <option value='2057'>Pueblo Bello</option>
                            <option value='5543'>Peque</option>
                            <option value='5885'>Yalí</option>
                            <option value='25168'>Chaguaní</option>
                            <option value='68673'>San Benito</option>
                            <option value='1558'>Quípama</option>
                            <option value='4153'>Palestina</option>
                            <option value='54498'>Ocaña</option>
                            <option value='19785'>Sucre</option>
                            <option value='25398'>La Peña</option>
                            <option value='25402'>La Vega</option>
                            <option value='5101'>Ciudad Bolívar</option>
                            <option value='68755'>Socorro</option>
                            <option value='2031'>González</option>
                            <option value='68498'>Ocamonte</option>
                            <option value='41503'>Oporapa</option>
                            <option value='5628'>Sabanalarga</option>
                            <option value='85315'>Sácama</option>
                            <option value='15442'>Maripí</option>
                            <option value='68855'>Valle de San José</option>
                            <option value='15832'>Tununguá</option>
                            <option value='68872'>Villanueva</option>
                            <option value='195'>Argelia</option>
                            <option value='41551'>Pitalito</option>
                            <option value='76828'>Trujillo</option>
                            <option value='25335'>Guayabetal</option>
                            <option value='5642'>Salgar</option>
                            <option value='2558'>Pulí</option>
                            <option value='7343'>Anzoátegui</option>
                            <option value='25148'>Caparrapí</option>
                            <option value='54223'>Cucutilla</option>
                            <option value='5197'>Cocorná</option>
                            <option value='762'>Alcalá</option>
                            <option value='68167'>Charalá</option>
                            <option value='6347'>Montenegro</option>
                            <option value='68344'>Hato</option>
                            <option value='15135'>Campohermoso</option>
                            <option value='579'>Barbosa</option>
                            <option value='5138'>Cañasgordas</option>
                            <option value='579'>Tarazá</option>
                            <option value='25662'>San Juan de Río Seco</option>
                            <option value='25258'>El Peñón</option>
                            <option value='17442'>Marmato</option>
                            <option value='68418'>Los Santos</option>
                            <option value='4166'>Saladoblanco</option>
                            <option value='5284'>Frontino</option>
                            <option value='25823'>Topaipí</option>
                            <option value='5792'>Tarso</option>
                            <option value='5861'>Venecia</option>
                            <option value='6879'>Barichara</option>
                            <option value='15106'>Briceño</option>
                            <option value='416'>Acevedo</option>
                            <option value='76845'>Ulloa</option>
                            <option value='68322'>Guapotá</option>
                            <option value='5856'>Valparaíso</option>
                            <option value='5236'>Ancuyá</option>
                            <option value='534'>Andes</option>
                            <option value='7324'>Alpujarra</option>
                            <option value='5789'>Támesis</option>
                            <option value='17174'>Chinchiná</option>
                            <option value='66383'>La Celia</option>
                            <option value='25797'>Tena</option>
                            <option value='7352'>Palocabildo</option>
                            <option value='53'>Amagá</option>
                            <option value='6832'>Guadalupe</option>
                            <option value='543'>Abrego</option>
                            <option value='15401'>La Victoria</option>
                            <option value='76606'>Restrepo</option>
                            <option value='51'>Medellín</option>
                            <option value='68533'>Páramo</option>
                            <option value='661'>Pereira</option>
                            <option value='2595'>Bituima</option>
                            <option value='588'>Bello</option>
                            <option value='25885'>Yacopí</option>
                            <option value='2553'>Arbeláez</option>
                            <option value='2553'>Paratebueno</option>
                            <option value='68229'>Curití</option>
                            <option value='685'>Oiba</option>
                            <option value='5308'>Girardota</option>
                            <option value='63594'>Quilgaya</option>
                            <option value='41244'>Elías</option>
                            <option value='7625'>El Dovio</option>
                            <option value='5347'>Heliconia</option>
                            <option value='73236'>Dolores</option>
                            <option value='73675'>San Antonio</option>
                            <option value='6617'>Dosquebradas</option>
                            <option value='54398'>La Playa</option>
                            <option value='68217'>Coromoro</option>
                            <option value='589'>Yololgó</option>
                            <option value='63111'>Buenavista</option>
                            <option value='73555'>Planadas</option>
                            <option value='5212'>Copacabana</option>
                            <option value='17662'>Samaná</option>
                            <option value='25394'>La Palma</option>
                            <option value='25743'>Silvania</option>
                            <option value='41483'>Nátaga</option>
                            <option value='76126'>Calima</option>
                            <option value='25594'>Quetame</option>
                            <option value='25867'>Vianí</option>
                            <option value='15514'>Páez</option>
                            <option value='5842'>Uramita</option>
                            <option value='63302'>Génova</option>
                            <option value='85136'>La Salina</option>
                            <option value='52427'>Magüí</option>
                            <option value='52786'>Taminango</option>
                            <option value='1555'>Pisba</option>
                            <option value='52678'>Samaniego</option>
                            <option value='52411'>Linares</option>
                            <option value='25645'>San Antonio del Tequendama</option>
                            <option value='5652'>San Francisco</option>
                            <option value='6688'>Belén de Ulgría</option>
                            <option value='25862'>Vergara</option>
                            <option value='66456'>Mistrató</option>
                            <option value='1913'>Cajibío</option>
                            <option value='25658'>San Francisco</option>
                            <option value='15455'>Miraflores</option>
                            <option value='68209'>Confines</option>
                            <option value='159'>Berbeo</option>
                            <option value='15664'>San José de Pare</option>
                            <option value='68327'>Güepsa</option>
                            <option value='531'>Amalfi</option>
                            <option value='591'>Betania</option>
                            <option value='531'>Gómez Plata</option>
                            <option value='5631'>Sabaneta</option>
                            <option value='5809'>Titiribí</option>
                            <option value='68444'>Matanza</option>
                            <option value='6675'>Balboa</option>
                            <option value='54599'>Ragonvalia</option>
                            <option value='50686'>San Juanito</option>
                            <option value='181'>Florencia</option>
                            <option value='7654'>Argelia</option>
                            <option value='66572'>Pueblo Rico</option>
                            <option value='66687'>Santuario</option>
                            <option value='73411'>Líbano</option>
                            <option value='54377'>Labateca</option>
                            <option value='54385'>La Esperanza</option>
                            <option value='6313'>Calarcá</option>
                            <option value='25871'>Villagómez</option>
                            <option value='5361'>Ituango</option>
                            <option value='6644'>Marsella</option>
                            <option value='6877'>Barbosa</option>
                            <option value='6877'>Suaita</option>
                            <option value='52418'>Los Andes</option>
                            <option value='76377'>La Culgre</option>
                            <option value='19517'>Páez</option>
                            <option value='15686'>Santana</option>
                            <option value='25649'>San Bernardo</option>
                            <option value='54871'>Villa Caro</option>
                            <option value='25123'>Cachipay</option>
                            <option value='68211'>Contratación</option>
                            <option value='17444'>Marquetalia</option>
                            <option value='52233'>Culgitara</option>
                            <option value='15798'>Tenza</option>
                            <option value='52256'>El Rosario</option>
                            <option value='76736'>Sevilla</option>
                            <option value='593'>Betulia</option>
                            <option value='68669'>San Andrés</option>
                            <option value='17272'>Filadelfia</option>
                            <option value='631'>Armenia</option>
                            <option value='68572'>Puente Nacional</option>
                            <option value='25328'>Guayabal de Siquima</option>
                            <option value='17524'>Palestina</option>
                            <option value='1975'>Balboa</option>
                            <option value='1788'>Belalcázar</option>
                            <option value='5819'>Toledo</option>
                            <option value='19473'>Morales</option>
                            <option value='538'>Angostura</option>
                            <option value='538'>La Estrella</option>
                            <option value='52207'>Consaca</option>
                            <option value='5482'>Toledo</option>
                            <option value='5113'>Buriticá</option>
                            <option value='25805'>Tibacuy</option>
                            <option value='52258'>El Tablón de Gómez</option>
                            <option value='15185'>Chitaraque</option>
                            <option value='15816'>Togüí</option>
                            <option value='521'>Alejandría</option>
                            <option value='521'>Pasto</option>
                            <option value='5248'>Nariño</option>
                            <option value='254'>Anolaima</option>
                            <option value='15897'>Zetaquira</option>
                            <option value='15469'>Moniquirá</option>
                            <option value='15299'>Garagoa</option>
                            <option value='15761'>Somondoco</option>
                            <option value='19548'>Piendamó</option>
                            <option value='41668'>San Agustín</option>
                            <option value='19701'>Santa Rosa</option>
                            <option value='63212'>Córdoba</option>
                            <option value='63548'>Pijao</option>
                            <option value='15325'>Guayatá</option>
                            <option value='5134'>Campamento</option>
                            <option value='1929'>Florencia</option>
                            <option value='68464'>Mogotes</option>
                            <option value='17665'>San José</option>
                            <option value='25293'>Gachala</option>
                            <option value='19622'>Rosas</option>
                            <option value='66682'>Santa Rosa de Cabal</option>
                            <option value='5452'>Pamplonita</option>
                            <option value='5266'>Envigado</option>
                            <option value='52399'>La Unión</option>
                            <option value='191'>Bolívar</option>
                            <option value='191'>Popayán</option>
                            <option value='19821'>Toribio</option>
                            <option value='68895'>Zapatoca</option>
                            <option value='68773'>Sucre</option>
                            <option value='567'>San Roque</option>
                            <option value='17616'>Risaralda</option>
                            <option value='25297'>Gachetá</option>
                            <option value='25151'>Caqueza</option>
                            <option value='555'>Argelia</option>
                            <option value='5129'>Caldas</option>
                            <option value='52203'>Colón</option>
                            <option value='52694'>San Pedro de Cartago</option>
                            <option value='68245'>El Guacamayo</option>
                            <option value='6878'>Suratá</option>
                            <option value='19256'>El Talgo</option>
                            <option value='52693'>San Pablo</option>
                            <option value='19355'>Inzá</option>
                            <option value='15172'>Chinavita</option>
                            <option value='6319'>Circasia</option>
                            <option value='17653'>Salamina</option>
                            <option value='17614'>Riosucio</option>
                            <option value='1742'>Anserma</option>
                            <option value='25777'>Supatá</option>
                            <option value='25513'>Pacho</option>
                            <option value='68377'>La Belleza</option>
                            <option value='5282'>Fredonia</option>
                            <option value='5576'>Pueblorrico</option>
                            <option value='5847'>Urrao</option>
                            <option value='76243'>El Águila</option>
                            <option value='6813'>Aguada</option>
                            <option value='5364'>Jardín</option>
                            <option value='6851'>Aratoca</option>
                            <option value='5679'>Santa Bárbara</option>
                            <option value='515'>Carolina</option>
                            <option value='559'>Armenia</option>
                            <option value='52435'>Mallama</option>
                            <option value='15322'>Guateque</option>
                            <option value='73124'>Cajamarca</option>
                            <option value='52683'>Sandoná</option>
                            <option value='17388'>La Merced</option>
                            <option value='17513'>Pácora</option>
                            <option value='5125'>Caicedo</option>
                            <option value='6892'>Betulia</option>
                            <option value='66594'>Quinchía</option>
                            <option value='19392'>La Sierra</option>
                            <option value='15236'>Chivor</option>
                            <option value='5315'>Guadalupe</option>
                            <option value='5321'>Guatapé</option>
                            <option value='76246'>El Cairo</option>
                            <option value='1581'>Tipacoque</option>
                            <option value='15425'>Macanal</option>
                            <option value='6882'>Tona</option>
                            <option value='19807'>Tilgío</option>
                            <option value='17433'>Manzanares</option>
                            <option value='76863'>Versalles</option>
                            <option value='5206'>Concepción</option>
                            <option value='25841'>Ubaque</option>
                            <option value='25312'>Granada</option>
                            <option value='25506'>Venecia</option>
                            <option value='6369'>Salento</option>
                            <option value='25279'>Fomeque</option>
                            <option value='68266'>Enciso</option>
                            <option value='68705'>Santa Bárbara</option>
                            <option value='5483'>Nariño</option>
                            <option value='5541'>Peñol</option>
                            <option value='536'>Angelópolis</option>
                            <option value='536'>Itagui</option>
                            <option value='54'>Abriaquí</option>
                            <option value='54'>Anorí</option>
                            <option value='54'>La Unión</option>
                            <option value='19137'>Caldono</option>
                            <option value='17873'>Villamaría</option>
                            <option value='68686'>San Miguel</option>
                            <option value='63272'>Filandia</option>
                            <option value='25436'>Manta</option>
                            <option value='1522'>Almeida</option>
                            <option value='682'>Albania</option>
                            <option value='25181'>Choachí</option>
                            <option value='41378'>La Argentina</option>
                            <option value='2529'>Fusagasugá</option>
                            <option value='5306'>Giraldo</option>
                            <option value='68397'>La Paz</option>
                            <option value='5219'>Albán</option>
                            <option value='68298'>Galgita</option>
                            <option value='25839'>Ubalá</option>
                            <option value='1566'>San Eduardo</option>
                            <option value='5211'>Buesaco</option>
                            <option value='5224'>Chachagüí</option>
                            <option value='15778'>Sutatenza</option>
                            <option value='68179'>Chipatá</option>
                            <option value='68502'>Onzaga</option>
                            <option value='569'>Santo Domingo</option>
                            <option value='68682'>San Joaquín</option>
                            <option value='54347'>Herrán</option>
                            <option value='68169'>Charta</option>
                            <option value='15753'>Soatá</option>
                            <option value='175'>Aranzazu</option>
                            <option value='5368'>Jericó</option>
                            <option value='17486'>Neira</option>
                            <option value='1538'>La Capilla</option>
                            <option value='25807'>Tibirita</option>
                            <option value='68684'>San José de Miranda</option>
                            <option value='68324'>Guavatá</option>
                            <option value='52405'>Leiva</option>
                            <option value='15511'>Pachavita</option>
                            <option value='41359'>Isnos</option>
                            <option value='86219'>Colón</option>
                            <option value='5209'>Concordia</option>
                            <option value='41676'>Santa María</option>
                            <option value='68207'>Concepción</option>
                            <option value='54128'>Cachirá</option>
                            <option value='17541'>Pensilvania</option>
                            <option value='68132'>California</option>
                            <option value='5313'>Granada</option>
                            <option value='15367'>Jenesano</option>
                            <option value='15621'>Rondón</option>
                            <option value='68152'>Carcasí</option>
                            <option value='73152'>Casabianca</option>
                            <option value='15804'>Tibaná</option>
                            <option value='15776'>Sutamarchán</option>
                            <option value='25426'>Macheta</option>
                            <option value='52685'>San Bernardo</option>
                            <option value='5697'>El Santuario</option>
                            <option value='86755'>San Francisco</option>
                            <option value='5615'>Rionegro</option>
                            <option value='15808'>Tinjacá</option>
                            <option value='5145'>Caramanta</option>
                            <option value='52'>Abejorral</option>
                            <option value='15248'>El Espino</option>
                            <option value='68101'>Bolívar</option>
                            <option value='19397'>La Vega</option>
                            <option value='68861'>Vélez</option>
                            <option value='171'>Manizales</option>
                            <option value='15407'>Villa de Leyva</option>
                            <option value='156'>Ráquira</option>
                            <option value='5148'>El Carmen de Viboral</option>
                            <option value='5318'>Guarne</option>
                            <option value='52687'>San Lorenzo</option>
                            <option value='15638'>Sáchica</option>
                            <option value='5237'>Don Matías</option>
                            <option value='1597'>Boavita</option>
                            <option value='1713'>Aguadas</option>
                            <option value='5607'>Retiro</option>
                            <option value='25299'>Gama</option>
                            <option value='25535'>Pasca</option>
                            <option value='52381'>La Florida</option>
                            <option value='15317'>Guacamayas</option>
                            <option value='68468'>Molagavita</option>
                            <option value='15109'>Buena Vista</option>
                            <option value='5674'>San Vicente</option>
                            <option value='7387'>Villahermosa</option>
                            <option value='5251'>Arboleda</option>
                            <option value='5376'>La Ceja</option>
                            <option value='25653'>San Cayetano</option>
                            <option value='15537'>Paz de Río</option>
                            <option value='15673'>San Mateo</option>
                            <option value='2519'>Albán</option>
                            <option value='73347'>Herveo</option>
                            <option value='15522'>Panqueba</option>
                            <option value='73686'>Santa Isabel</option>
                            <option value='5226'>El Talgo</option>
                            <option value='19364'>Jalgaló</option>
                            <option value='54518'>Pamplona</option>
                            <option value='25372'>Junín</option>
                            <option value='52287'>Funes</option>
                            <option value='68264'>Encino</option>
                            <option value='5264'>Entrerrios</option>
                            <option value='5887'>Yarumal</option>
                            <option value='52385'>La Llanada</option>
                            <option value='52565'>Providencia</option>
                            <option value='1922'>Almaguer</option>
                            <option value='15599'>Ramiriquí</option>
                            <option value='68425'>Macaravita</option>
                            <option value='68318'>Guaca</option>
                            <option value='54174'>Chitagá</option>
                            <option value='5467'>San Calixto</option>
                            <option value='25339'>Gutiérrez</option>
                            <option value='5467'>Montebello</option>
                            <option value='15403'>La Uvita</option>
                            <option value='15696'>Santa Sofía</option>
                            <option value='25845'>Une</option>
                            <option value='15215'>Corrales</option>
                            <option value='54125'>Cácota</option>
                            <option value='68368'>Jesús María</option>
                            <option value='25178'>Chipaque</option>
                            <option value='1518'>Chiscas</option>
                            <option value='15755'>Socotá</option>
                            <option value='52699'>Santacruz</option>
                            <option value='52788'>Tangua</option>
                            <option value='15104'>Boyacá</option>
                            <option value='1976'>Sotara</option>
                            <option value='15293'>Gachantivá</option>
                            <option value='15494'>Nuevo Colón</option>
                            <option value='15835'>Turmequé</option>
                            <option value='5664'>San Pedro</option>
                            <option value='5283'>Belén</option>
                            <option value='5756'>Sonsón</option>
                            <option value='15774'>Susacón</option>
                            <option value='6825'>El Peñón</option>
                            <option value='15238'>Duitama</option>
                            <option value='68162'>Cerrito</option>
                            <option value='15842'>Ulgita</option>
                            <option value='5221'>Contadero</option>
                            <option value='52378'>La Cruz</option>
                            <option value='15114'>Busbanzá</option>
                            <option value='15272'>Firavitoba</option>
                            <option value='15276'>Floresta</option>
                            <option value='15362'>Iza</option>
                            <option value='15491'>Nobsa</option>
                            <option value='15806'>Tibasosa</option>
                            <option value='15879'>Viracachá</option>
                            <option value='52354'>Imués</option>
                            <option value='15516'>Paipa</option>
                            <option value='25473'>Mosquera</option>
                            <option value='586'>Belmira</option>
                            <option value='19743'>Silvia</option>
                            <option value='1579'>Tasco</option>
                            <option value='155'>Oicatá</option>
                            <option value='15676'>San Miguel de Sema</option>
                            <option value='25286'>Funza</option>
                            <option value='25781'>Sutatausa</option>
                            <option value='5686'>Santa Rosa de Osos</option>
                            <option value='2543'>Madrid</option>
                            <option value='25754'>Soacha</option>
                            <option value='15176'>Chiquinquirá</option>
                            <option value='25843'>Villa de San Diego de Ubate</option>
                            <option value='25126'>Cajicá</option>
                            <option value='25745'>Simijaca</option>
                            <option value='2512'>Cabrera</option>
                            <option value='15131'>Caldas</option>
                            <option value='25175'>Chía</option>
                            <option value='25214'>Cota</option>
                            <option value='25295'>Gachancipá</option>
                            <option value='25785'>Tabio</option>
                            <option value='1592'>Betéitiva</option>
                            <option value='19824'>Totoró</option>
                            <option value='15759'>Sogamoso</option>
                            <option value='25758'>Sopó</option>
                            <option value='5658'>San José de La Montaña</option>
                            <option value='25772'>Suesca</option>
                            <option value='25486'>Nemocón</option>
                            <option value='2526'>El Rosal</option>
                            <option value='25269'>Facatativá</option>
                            <option value='25799'>Tenjo</option>
                            <option value='25407'>Lenguazaque</option>
                            <option value='25224'>Cucunubá</option>
                            <option value='25736'>Sesquilé</option>
                            <option value='2599'>Bojacá</option>
                            <option value='25898'>Zipacón</option>
                            <option value='15837'>Tuta</option>
                            <option value='2574'>Sibaté</option>
                            <option value='5448'>Mutiscua</option>
                            <option value='15232'>Chíquiza</option>
                            <option value='15542'>Pesca</option>
                            <option value='1572'>Sativanorte</option>
                            <option value='15723'>Sativasur</option>
                            <option value='86749'>Sibundoy</option>
                            <option value='15646'>Samacá</option>
                            <option value='25817'>Tocancipá</option>
                            <option value='25899'>Zipaquirá</option>
                            <option value='15632'>Saboyá</option>
                            <option value='252'>Cogua</option>
                            <option value='15224'>Cucaita</option>
                            <option value='73622'>Roncesvalles</option>
                            <option value='111'>Bogotá D.C.</option>
                            <option value='15861'>Ventaquemada</option>
                            <option value='8676'>Santiago</option>
                            <option value='5232'>Guaitarilla</option>
                            <option value='15763'>Sotaquirá</option>
                            <option value='25779'>Susa</option>
                            <option value='25183'>Chocontá</option>
                            <option value='25769'>Subachoque</option>
                            <option value='15757'>Socha</option>
                            <option value='25326'>Guatavita</option>
                            <option value='52885'>Yacuanquer</option>
                            <option value='1574'>Siachoque</option>
                            <option value='15244'>El Cocuy</option>
                            <option value='54743'>Silos</option>
                            <option value='15218'>Covarachía</option>
                            <option value='15762'>Sora</option>
                            <option value='15814'>Toca</option>
                            <option value='25322'>Guasca</option>
                            <option value='25281'>Fosca</option>
                            <option value='25873'>Villapinzón</option>
                            <option value='25377'>La Calera</option>
                            <option value='1551'>Arcabuco</option>
                            <option value='15693'>Santa Rosa de Viterbo</option>
                            <option value='5256'>Potosí</option>
                            <option value='15296'>Gameza</option>
                            <option value='25317'>Guachetá</option>
                            <option value='15226'>Cuítiva</option>
                            <option value='25288'>Fúquene</option>
                            <option value='15764'>Soracá</option>
                            <option value='52573'>Puerres</option>
                            <option value='19693'>San Sebastián</option>
                            <option value='15839'>Tutazá</option>
                            <option value='151'>Tunja</option>
                            <option value='17446'>Marulanda</option>
                            <option value='15204'>Cólgita</option>
                            <option value='52506'>Ospina</option>
                            <option value='19585'>Puracé</option>
                            <option value='52215'>Córdoba</option>
                            <option value='15822'>Tota</option>
                            <option value='15332'>Güicán</option>
                            <option value='52356'>Ipiales</option>
                            <option value='5272'>Sapuyes</option>
                            <option value='15187'>Chivatá</option>
                            <option value='15466'>Monguí</option>
                            <option value='1582'>Tópaga</option>
                            <option value='52323'>Gualmatán</option>
                            <option value='15476'>Motavita</option>
                            <option value='25793'>Tausa</option>
                            <option value='15183'>Chita</option>
                            <option value='52352'>Iles</option>
                            <option value='25154'>Carmen de Carupa</option>
                            <option value='15464'>Mongua</option>
                            <option value='52585'>Pupiales</option>
                            <option value='1547'>Aquitania</option>
                            <option value='5222'>Aldana</option>
                            <option value='52224'>Cuaspud</option>
                            <option value='52317'>Guachucal</option>
                            <option value='52227'>Culgal</option>
                            <option value='15368'>Jericó</option>
                            <option value='52838'>Túquerres</option>
                            <option value='1587'>Belén</option>
                            <option value='15162'>Cerinza</option>
                            <option value='68867'>Vetas</option>
                        </select>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <select required name="numHijosFallecidos" class="form-control">
                            <option value="" selected required>8) ¿Has presentado antes algún aborto?</option>
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-6'>
                    <div class='form-group'>
                        <select required id='seguridadSocial' name='seguridadSocial' class="form-control">
                            <option selected="selected" value="" required>3) Seleccione su seguridad social</option>
                            <option value='1'>
                                Contributivo
                            </option>
                            <option value='2'>
                                Subsidiado
                            </option>
                            <option value='3'>
                                Excepción
                            </option>
                            <option value='4'>
                                Especial
                            </option>
                            <option value='5'>
                                No asegurado
                            </option>
                        </select>
                    </div>
                </div>
                <div class='col-6'>
                    <div class='form-group'>
                        <select required id='estadoCivil' name='estadoCivil' required="required" class="form-control">
                            <option value='' selected>
                                    9) Estado sentimental
                            </option>
                            <option value='1'>
                                Divorciada/viuda
                            </option>
                            <option value='2'>
                                Estaba casado(a)</option>
                            <option value='3'>
                                Estaba soltero(a)
                            </option>
                            <option value='4'>
                                No estaba casado(a) y llevaba dos o más años viviendo con su pareja
                            </option>
                            <option value='5'>
                                No estaba casado(a) y llevaba menos de dos años viviendo con su pareja
                            </option>
                        </select>

                    </div>

                </div>

            </div>
            <div class="row">
                <div class='col-6'>
                    <div class='form-group'>
                        <select required id='tipoEmbarazo' name='tipoEmbarazo' required="required"  class="form-control">
                            <option selected="selected" value="">4) Tipo de embarazo </option>
                            <option value='1'> Simple </option>
                            <option value='2'> Doble </option>
                            <option value='3'> Triple </option>
                            <option value='4'> Cuádruple o más </option>
                        </select>
                    </div>
                </div>
                <div class='col-6'>
                    <div class='form-group'>
                        <select required id='nivelEducativo' name='nivelEducativo'  class="form-control">
                            <option selected="selected" value="">10) Nivel educativo</option>
                            <option value='1'> Básica primaria </option>
                            <option value='2'> Básica secundaria </option>
                            <option value='3'> Media académica o clásica </option>
                            <option value='4'> Tecnólogas </option>
                            <option value='5'> Posgrado </option>
                            <option value='6'> Profesional </option>
                            <option value='7'> Ninguno y Preescolar </option>
                        </select>
                    </div>
                </div>

            </div>
            <div class='row'>
                <div class='col-6'>
                    <div class='form-group'>
                        <select required id='tiempoGestacion' name='tiempoGestacion' class="form-control">
                            <option selected="selected" value="">5) Tiempo de gestación</option>
                            <option value='1'> Menos de 22 semanas </option>
                            <option value='2'> De 22 a 27 semanas </option>
                            <option value='3'> De 28 a 37 semanas </option>
                            <option value='4'> De 38 a 41 semanas </option>
                            <option value='5'> De 42 y más semanas </option>
                        </select>
                    </div>
                </div>
                <div class='col-6'>
                    <div class='form-group'>
                        <input type="number"
                         id="ultCursado" name="ultCursado" placeholder="11) Seleccione último año o grado aprobado" min="1" max="12"  class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class='col-6'>
                    <div class="form-group" >
                        <!--seleccione su edad-->

                        <select name="edadMadre" id="edadMadre" required  class="form-control">
                               <option value="" required> 6) Seleccione su edad</option>
                               <option value="1">De 10 a 14 años </option>
                               <option value="2">De 15 a 19 años  </option>
                               <option value="3">De 20 a 24 años</option>
                               <option value="4">De 25 a 29 años </option>
                               <option value="5">De 30 a 34 años </option>
                               <option value="6">De 35 a 39 años  </option>
                               <option value="7">Más de 40 años  </option>
                        </select>
                    </div>
                </div>
                <div class='col-6'>
                        <div class="form-group" >
                            <select required id='resMadre' name='resMadre' class="form-control">
                                <option selected="selected" value="">Seleccione Tipo de Residencia</option>
                                <option value='1'> Cabecera municipal </option>
                                <option value='2'> Centro poblado (Inspección, corregimiento o caserío) </option>
                                <option value='3'> Rural disperso </option>                                
                            </select>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input
                        type="email"
                        class="form-control"
                        name="emailMedico"
                        id="emailMedico"
                        required
                        placeholder="Email del Medico"
                        >
                    </div>
                </div>
            </div>

            </hr>

            <input type='submit' value='enviar'/>

        </form>
    </form>
</div>
{% endblock %}