{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Bienvenidos{% endblock %}</h1>
{% endblock %}

{% block content %}

<main role="main" class="container">

        <div class="starter-template">
          <h1>Gracias</h1>
          <p class="lead">Gracias por participar</p>
        </div>

</main><!-- /.container -->
{% endblock %}
