{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Bienvenidos{% endblock %}</h1>
{% endblock %}

{% block content %}

<main role="main" class="container">

        <div class="starter-template">
          <p class="lead">Hola, por favor ayúdanos con este formulario. </p>
          <h2>¡Por el cuidado del embarazo y el cuidado de tu futuro hijo!</h2>
        <a href="registro">Formulario</a>
        </div>

</main><!-- /.container -->
{% endblock %}
